<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/tailwind.css">
  <title>Todo </title>
</head>

<body>
  <p class="text-center">Hello</p>
  <form>
    <input name="title" type="text"
      class="text-black px-2 py-1 sm:text-xl text-base focus:outline-none rounded-md border border-black"
      placeholder="Add Todo" required/>
    <input type="submit"
      class="sm:text-xl text-base focus:outline-none rounded-md m-2 p-1 border">
  </form>
</body>

</html>